.jumbotron {
    background-color: tomato;
    color: white;
    padding-bottom: 0;
}

btn {
    background-color: tomato;
    color: white;
}

footer {
    padding: 10px 15px 0 15px;
    margin-top: 10px;
    background-color: tomato;
    color: white;
    font-weight: lighter;
}

footer p {
    margin: 0%;
}

a {
    color: black;
}

.card-hotel {
    width: 18rem;
    margin-bottom: 25px;
}

.card-img {
    padding: 5px 5px 0 5px;
}

.btn-reserva {
    width: 100%;
}

.icons {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.card-body-home {
    height: 100px;
    margin-top: 10px;
}