$tomatoe: #ff9999;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.navBar {
    background-color: lightgray;
}

.jumbotron {
    background-color: $tomatoe;
    color: white;
    padding-bottom: 0;
}

btn {
    background-color: $tomatoe;
    color: white;
}

footer {
    padding: 10px 15px 0 15px;
    @include margenes(10px, 0px);
    background-color: $tomatoe;
    color: white;
    font-weight: lighter;
}

footer p {
    @include margenes(0px, 0px);
}

a {
    color: black;
}

.card-hotel {
    width: 18rem;
    @include margenes(0px, 25px);
}

.card-img {
    padding: 5px 5px 0 5px;
}

.btn-reserva {
    width: 100%;
}

.icons {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.card-body-home {
    height: 100px;
    @include margenes(10px, 0px);
}