.jumbotron {
  background-color: #fffa19;
  color: white;
  padding-bottom: 0;
}
btn {
  background-color: #fffa19;
  color: white;
}
footer {
  padding: 10px 15px 0 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #fffa19;
  color: white;
  font-weight: lighter;
}
footer p {
  margin-top: 0px;
  margin-bottom: 0px;
}
a {
  color: black;
}
.card-hotel {
  width: 18rem;
  margin-top: 0px;
  margin-bottom: 25px;
}
.card-img {
  padding: 5px 5px 0 5px;
}
.btn-reserva {
  width: 100%;
}
.icons {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.card-body-home {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 0px;
}
