@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: white;
    padding-bottom: 0; }
  
  btn {
    background-color: @yellow;
    color: white; }
  
  footer {
    padding: 10px 15px 0 15px;
    .margenes(10px, 0px);
    background-color: @yellow;
    color: white;
    font-weight: lighter; }
  
  footer p {
    .margenes(0px, 0px)
}
  
  a {
    color: black; }
  
  .card-hotel {
    width: 18rem;
    .margenes(0px, 25px)
}
  
  .card-img {
    padding: 5px 5px 0 5px; }
  
  .btn-reserva {
    width: 100%; }
  
  .icons {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .card-body-home {
    height: 100px;
    .margenes(10px, 0px); }
  